@model SLMFCMS.Models.Banner
@using System.Web.Helpers
@using SLMFCMS.App_Code
@using System.Configuration;
@{
    ViewBag.Title = "Agregar la Imagen del Banner";
}
@{string sRutaImages = ConfigurationManager.AppSettings["App_FolderAssetsImages"];
string sFileImage = "";}

<div class="row">
    <div class="col-md-12">
        <div id="row-header-index" class="row">
            <div id="div-titulo" class="col-md-7">
                <h4>@ViewBag.Title</h4>
            </div>
            <div class="col-md-4">
                &nbsp;
            </div>
            <div id="div-search" class="col-md-1">
                @Html.ActionLink("Cancelar", "Details", "Banner", routeValues: new { id = Model.ID, pagina = ViewBag.Pagina }, htmlAttributes: new { id = "buttonback", @class = "btn btn-cancel", @title = "Cancelar" })
            </div>
        </div>
    </div>
</div>
<hr id="header-divisor" />
<div class="row">
    <div class="col-md-2 lbltitulo">
        @Html.LabelFor(model => model.Identificador)
        <input type="hidden" id="idbanner" value="@Model.ID" />
    </div>
    <div class="col-md-7 lbltitulo">
        @Html.LabelFor(model => model.LinkBanner)
    </div>
    <div class="col-md-1 lbltitulo">
        @Html.LabelFor(model => model.Prioridad)
    </div>
</div>
<div class="row">
    <div class="col-md-2 txt-area-display-with-border area-border-2">
        @Html.DisplayFor(model => model.Identificador)
    </div>
    <div class="col-md-7 txt-area-display-with-border area-border-6">
        @Html.DisplayFor(model => model.LinkBanner)
    </div>
    <div class="col-md-1 txt-area-display-with-border area-border-1">
        @Html.DisplayFor(model => model.Prioridad)
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        &nbsp;
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table webGrid table-partial-125x425-upload">
            <tr class="webGridHeader">
                <th class="txt-center">
                    Portada
                </th>
            </tr>
            <tr>
                <td class="celda-125x425-upload">
                    <div class="main-container-display">
                        @if (!String.IsNullOrEmpty(Model.FileImage))
                        {
                            sFileImage = sRutaImages + Model.FileImage;
                            <a href="@sFileImage.Replace("~/","../../")" data-lightbox="image-1">
                                @Html.Image(sFileImage, "Imagen", new { @class = "image-ready-125x425" })
                            </a>
                        }
                        else
                        {
                            <div id="main-container-drop" class="container-drop-125x425">
                                <div id="dropbox-zone">
                                    <span class="message">
                                        Arrastre a este recuadro, el archivo de Imagen con las dimensiones especificadas.
                                    </span>
                                </div>
                            </div>
                            <div>
                                <div id="image-uploading">
                                </div>
                            </div>
                        }
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

@section LocalScript {
    @Scripts.Render("~/bundles/lightbox")
    @Scripts.Render("~/bundles/upload-image-banner")
}