@model SLMFCMS.Models.PlanDiaEjercicios
@using System.Web.Helpers
@{
    ViewBag.Title = "Eliminar el Ejercicio del Día de Entrenamiento";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12">
            <div id="row-header-index" class="row">
                <div id="div-titulo" class="col-md-7">
                    <h4>@ViewBag.Title</h4>
                </div>
                <div class="col-md-3">
                    &nbsp;
                </div>
                <div class="col-md-1">
                    <button class="btn btn-delete" type="submit" title="Eliminar">Eliminar</button>
                </div>
                <div id="div-search" class="col-md-1">
                    @Html.ActionLink("Cancelar", "Exercices", "PlanDias", routeValues: new { id = Model.PlanDiasID, pagina = ViewBag.Pagina }, htmlAttributes: new { @class = "btn btn-cancel", @title = "Cancelar" })
                </div>
            </div>
        </div>
    </div>
}
<hr id="header-divisor" />
<div class="row">
    <div class="col-md-2 lbltitulo">
        @Html.LabelFor(model => model.PlanDias.Plan.DisciplinaID)
    </div>
    <div class="col-md-2 lbltitulo">
        @Html.LabelFor(model => model.PlanDias.PlanID)
    </div>
    <div class="col-md-1 lbltitulo">
        @Html.LabelFor(model => model.PlanDias.Dia)
    </div>
    <div class="col-md-3 lbltitulo">
        @Html.LabelFor(model => model.PlanDias.RutinaID)
    </div>
    <div class="col-md-3 lbltitulo">
        @Html.LabelFor(model => model.PlanDias.DietaID)
    </div>
</div>
<div class="row">
    <div class="col-md-2 txt-area-display-with-border area-border-2">
        @Html.DisplayFor(model => model.PlanDias.Plan.Disciplina.Nombre)
    </div>
    <div class="col-md-2 txt-area-display-with-border area-border-2">
        @Html.DisplayFor(model => model.PlanDias.Plan.Nombre)
    </div>
    <div class="col-md-1 txt-area-display-with-border area-border-1 text-center">
        @Html.DisplayFor(model => model.PlanDias.Dia)
    </div>
    <div class="col-md-3 txt-area-display-with-border area-border-3">
        @Html.DisplayFor(model => model.PlanDias.Rutina.Nombre)
    </div>
    <div class="col-md-3 txt-area-display-with-border area-border-3">
        @Html.DisplayFor(model => model.PlanDias.Dieta.Nombre)
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        &nbsp;
    </div>
</div>
<div class="row">
    <div class="col-md-1 lbltitulo">
        @Html.LabelFor(model => model.Secuencia)
    </div>
    <div class="col-md-5 lbltitulo">
        @Html.LabelFor(model => model.EjercicioID)
    </div>
    <div class="col-md-1 lbltitulo">
        @Html.LabelFor(model => model.Series)
    </div>
    <div class="col-md-3 lbltitulo">
        @Html.LabelFor(model => model.Repeticiones)
    </div>
    <div class="col-md-1 lbltitulo">
        @Html.LabelFor(model => model.Descanso)
    </div>
    <div class="col-md-1 lbltitulo">
        @Html.LabelFor(model => model.Nivel)
    </div>
</div>
<div class="row">
    <div class="col-md-1 txt-area-display-with-border area-border-1 text-center">
        @Html.DisplayFor(model => model.Secuencia)
    </div>
    <div class="col-md-5 txt-area-display-with-border area-border-5">
        @Html.DisplayFor(model => model.Ejercicio.NombreCompleto)
    </div>
    <div class="col-md-1 txt-area-display-with-border area-border-1 text-center">
        @Html.DisplayFor(model => model.Series)
    </div>
    <div class="col-md-3 txt-area-display-with-border area-border-3">
        @Html.DisplayFor(model => model.Repeticiones) @Html.DisplayFor(model => model.UnidadEjercicio.Nombre)
    </div>
    <div class="col-md-1 txt-area-display-with-border area-border-1 text-center">
        @Html.DisplayFor(model => model.Descanso) @Html.Label("Min", htmlAttributes: new { @class = "lbltitulo" })
    </div>
    <div class="col-md-1 txt-area-display-with-border area-border-1 text-center">
        @Html.DisplayFor(model => model.Nivel)
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        &nbsp;
    </div>
</div>
<div class="row">
    <div class="col-md-3 lbltitulo">
        @Html.LabelFor(model => model.Nota)
    </div>
</div>
<div class="row">
    <div class="col-md-3 txt-area-display-with-border area-border-3">
        @Html.DisplayFor(model => model.Nota)
    </div>
</div>