@model SLMFCMS.Models.PlanDias
@using System.Web.Helpers
@{
    ViewBag.Title = "Eliminar el día del Plan";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12">
            <div id="row-header-index" class="row">
                <div id="div-titulo" class="col-md-7">
                    <h4>@ViewBag.Title</h4>
                </div>
                <div class="col-md-3">
                    &nbsp;
                </div>
                <div class="col-md-1">
                    @if (Model.EjerciciosDelDia.Count == 0)
                    {
                        <button class="btn btn-delete" type="submit" title="Eliminar">Eliminar</button>
                    }
                </div>
                <div id="div-search" class="col-md-1">
                    @Html.ActionLink("Cancelar", "Days", "Plan", routeValues: new { id = Model.PlanID, pagina = ViewBag.Pagina }, htmlAttributes: new { @class = "btn btn-cancel", @title = "Cancelar" })
                </div>
            </div>
        </div>
    </div>
}
<hr id="header-divisor" />
<div class="row">
    <div class="col-md-2 lbltitulo">
        @Html.LabelFor(model => model.Plan.DisciplinaID)
    </div>
    <div class="col-md-2 lbltitulo">
        @Html.LabelFor(model => model.PlanID)
    </div>
    <div class="col-md-3 lbltitulo">
        @Html.LabelFor(model => model.Plan.Leyenda)
    </div>
</div>
<div class="row">
    <div class="col-md-2 txt-area-display-with-border area-border-2">
        @Html.DisplayFor(model => model.Plan.Disciplina.Nombre)
    </div>
    <div class="col-md-2 txt-area-display-with-border area-border-2">
        @Html.DisplayFor(model => model.Plan.Nombre)
    </div>
    <div class="col-md-2 txt-area-display-with-border area-border-2">
        @Html.DisplayFor(model => model.Plan.Leyenda)
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        &nbsp;
    </div>
</div>
<div class="row">
    <div class="col-md-1 lbltitulo">
        @Html.LabelFor(model => model.Dia)
    </div>
    <div class="col-md-3 lbltitulo">
        @Html.LabelFor(model => model.RutinaID)
    </div>
    <div class="col-md-3 lbltitulo">
        @Html.LabelFor(model => model.DietaID)
    </div>
    <div class="col-md-3 lbltitulo">
        @Html.LabelFor(model => model.ProTipID)
    </div>
</div>
<div class="row">
    <div class="col-md-1 txt-area-display-with-border area-border-1">
        @Html.DisplayFor(model => model.Dia)
    </div>
    <div class="col-md-3 txt-area-display-with-border area-border-3">
        @Html.DisplayFor(model => model.Rutina.Nombre)
    </div>
    <div class="col-md-3 txt-area-display-with-border area-border-3">
        @Html.DisplayFor(model => model.Dieta.Nombre)
    </div>
    <div class="col-md-3 txt-area-display-with-border area-border-3">
        @Html.DisplayFor(model => model.ProTip.Nombre)
    </div>
</div>
