@model SLMFCMS.Models.Banner
@{
    ViewBag.Title = "Agregar un Banner";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12">
            <div id="row-header-index" class="row">
                <div id="div-titulo" class="col-md-7">
                    <h4>@ViewBag.Title</h4>
                </div>
                <div class="col-md-3">
                    &nbsp;
                </div>
                <div class="col-md-1">
                    <button class="btn btn-save" type="submit" title="Guardar">Guardar</button>
                </div>
                <div id="div-search" class="col-md-1">
                    @Html.ActionLink("Cancelar", "Index", "Banner", routeValues: new { pagina = ViewBag.Pagina }, htmlAttributes: new { @class = "btn btn-cancel", @title = "Cancelar" })
                </div>
            </div>
        </div>
    </div>
    <hr id="header-divisor" />
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Visible)
        @Html.HiddenFor(model => model.FileImage)
        <div class="row">
            <div class="col-md-2 lbltitulo">
                @Html.LabelFor(model => model.Identificador)
            </div>
            <div class="col-md-7 lbltitulo">
                @Html.LabelFor(model => model.LinkBanner)
            </div>
            <div class="col-md-1 lbltitulo">
                @Html.LabelFor(model => model.Prioridad)
            </div>
        </div>
        <div class="row">
            <div id="selector-table-1" class="col-md-2 margen-off">
                @Html.TextBoxFor(model => model.Identificador, new { @class = "txt-box-input-col2-row1" })
            </div>
            <div class="col-md-7 margen-off">
                @Html.TextBoxFor(model => model.LinkBanner, new { @class = "txt-box-input-col6-row1" })
            </div>
            <div class="col-md-1 margen-off">
                @Html.TextBoxFor(model => model.Prioridad, new { @class = "txt-box-input-7-1" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.ValidationMessageFor(model => model.Identificador, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.ValidationMessageFor(model => model.LinkBanner, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.ValidationMessageFor(model => model.Prioridad, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}