@model SLMFCMS.Models.GrupoMusculos
@using System.Web.Helpers
@using SLMFCMS.App_Code
@using System.Configuration;
@{
    ViewBag.Title = "Elimina la Imagen del Grupo de Musculos";
}
@{string sRutaImages = ConfigurationManager.AppSettings["App_FolderAssetsImages"];
string sFileImage = "";}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12">
            <div id="row-header-index" class="row">
                <div id="div-titulo" class="col-md-7">
                    <h4>@ViewBag.Title</h4>
                </div>
                <div class="col-md-3">
                    &nbsp;
                </div>
                <div class="col-md-1">
                    @if (!String.IsNullOrEmpty(Model.FileImage))
                    {
                        <button class="btn btn-delete" type="submit" title="Eliminar">Eliminar</button>
                    }
                </div>
                <div id="div-search" class="col-md-1">
                    @Html.ActionLink("Cancelar", "Details", "GrupoMusculos", routeValues: new { id = Model.ID, pagina = ViewBag.Pagina }, htmlAttributes: new { @class = "btn btn-cancel", @title = "Cancelar" })
                </div>
            </div>
        </div>
    </div>
}
<hr id="header-divisor" />
<div class="row">
    <div class="col-md-2 lbltitulo">
        @Html.LabelFor(model => model.Nombre)
    </div>
    <div class="col-md-1">
        &nbsp;
    </div>
    <div class="col-md-8 lbltitulo">
        @Html.LabelFor(model => model.Descripcion)
    </div>
</div>
<div class="row">
    <div class="col-md-2 txt-area-display-with-border area-border-2">
        @Html.DisplayFor(model => model.Nombre)
    </div>
    <div class="col-md-1">
        &nbsp;
    </div>
    <div class="col-md-8 txt-area-display-with-border area-border-8-4">
        @Html.DisplayFor(model => model.Descripcion)
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        &nbsp;
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table webGrid table-partial center-table">
            <tr class="webGridHeader">
                <th class="txt-center">
                    Imagen
                </th>
            </tr>
            <tr>
                <td class="celda-imagen-delete">
                    <div>
                        @if (!String.IsNullOrEmpty(Model.FileImage))
                        {
                            sFileImage = sRutaImages + Model.FileImage;
                            <a href="@sFileImage.Replace("~/","../../")" data-lightbox="image-5">
                                @Html.Image(sFileImage, "Imagen", new { @class = "image-preview-portada" })
                            </a>
                        }
                        else
                        {
                            sFileImage = "/Content/img/SLMF-Entrenar-SN.jpg";
                            <a href="@sFileImage" data-lightbox="image-5">
                                @Html.Image(sFileImage, "Imagen", new { @class = "image-preview-portada" })
                            </a>
                        }
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
@section LocalScript {
    @Scripts.Render("~/bundles/lightbox")
}