@model SLMFCMS.Models.Cuestionario
@using System.Web.Helpers
@{var grid = new WebGrid(Model.PreguntasDelCuestionario, defaultSort: "ID", canPage: true, rowsPerPage: 6,
    selectionFieldName: "ID", ajaxUpdateContainerId: "gridContent");}
@{int noPaginas = grid.PageCount;}
@{int nPagina = grid.PageIndex + 1;}
@{int nRecords = grid.TotalRowCount;}
@{
    ViewBag.Title = "Detalle del Cuestionario";
}
<div class="row">
    <div class="col-md-12">
        <div id="row-header-index" class="row">
            <div id="div-titulo" class="col-md-7">
                <h4>@ViewBag.Title</h4>
            </div>
            <div class="col-md-4">
                &nbsp;
            </div>
            <div id="div-search" class="col-md-1">
                @Html.ActionLink(" ", "Index", "Cuestionario", routeValues: new { pagina = ViewBag.Pagina }, htmlAttributes: new { @class = "fa fa-arrow-left fa-2x btn-accion-inv", @title = "Regresar" })
            </div>
        </div>
    </div>
</div>
<hr id="header-divisor" />
<div class="row">
    <div class="col-md-2 lbltitulo">
        @Html.LabelFor(model => model.DisciplinaID)
    </div>
    <div class="col-md-3 lbltitulo">
        @Html.LabelFor(model => model.Nombre)
    </div>
</div>
<div class="row">
    <div class="col-md-2 txt-area-display-with-border area-border-2">
        @Html.DisplayFor(model => model.Disciplina.Nombre)
    </div>
    <div class="col-md-3 txt-area-display-with-border area-border-3">
        @Html.DisplayFor(model => model.Nombre)
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        &nbsp;
    </div>
</div>
<div class="row row-detalle-add">
    <div class="col-md-12">
        <span>
            @Html.ActionLink(" ", "Create", "Pregunta", routeValues: new { pagina = ViewBag.Pagina, page = ViewBag.Page, cuestionario = Model.ID }, htmlAttributes: new { @class = "fa fa-plus-square fa-2x btn-accion", @title = "Agrega una Pregunta al Cuestionario" })
        </span>
        @Html.LabelFor(model => model.PreguntasDelCuestionario, htmlAttributes: new { @class = "lbltitulo" })
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @if (noPaginas > 0)
        {
            @grid.GetHtml(tableStyle: "table webGrid",
                mode: WebGridPagerModes.All,
                numericLinksCount: 6,
                headerStyle: "webGridHeader",
                alternatingRowStyle: "",
                selectedRowStyle: "",
                firstText: "«",
                lastText: "»",
                previousText: "‹",
                nextText: "›",
                columns: grid.Columns(
                grid.Column("Texto", "Pregunta", canSort: true),
                grid.Column("Descripcion", "Descripción", canSort: false),
                grid.Column("Clase", "CSS Clase", canSort: false),
                grid.Column("NoRespuestas", "Respuestas", canSort: false),
                grid.Column("", header: "", canSort: false, style: "columnActionwebGrid",
                    format:
                    @<text>
                        @Html.ActionLink(" ", "Edit", "Pregunta", routeValues: new { id = item.ID, pagina = ViewBag.Pagina }, htmlAttributes: new { @class = "fa fa-pencil-square fa-2x btn-accion", @title = "Editar la Pregunta del Cuestionario" })
                        @Html.ActionLink(" ", "Details", "Pregunta", routeValues: new { id = item.ID, pagina = ViewBag.Pagina }, htmlAttributes: new { @class = "fa fa-info-circle fa-2x btn-accion " + item.CSSNoData, @title = "Detalles de la Pregunta del Cuestionario" })
                        @if (item.RespuestasDeLaPregunta.Count == 0)
                        {
                            @Html.ActionLink(" ", "Delete", "Pregunta", routeValues: new { id = item.ID, pagina = ViewBag.Pagina }, htmlAttributes: new { @class = "fa fa-minus-square fa-2x btn-accion", @title = "Borrar la Pregunta del Cuestionario" })
                        }
                    </text>)
                )
            )
        }
    </div>
</div>