@model SLMFCMS.Models.Pregunta
@using System.Web.Helpers
@{
    ViewBag.Title = "Eliminar la Pregunta del Cuestionario";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12">
            <div id="row-header-index" class="row">
                <div id="div-titulo" class="col-md-7">
                    <h4>@ViewBag.Title</h4>
                </div>
                <div class="col-md-3">
                    &nbsp;
                </div>
                <div class="col-md-1">
                    @if (Model.RespuestasDeLaPregunta.Count == 0)
                    {
                        <button class="btn btn-delete" type="submit" title="Eliminar">Eliminar</button>
                    }
                </div>
                <div id="div-search" class="col-md-1">
                    @Html.ActionLink("Cancelar", "Details", "Cuestionario", routeValues: new { id = Model.CuestionarioID, pagina = ViewBag.Pagina }, htmlAttributes: new { @class = "btn btn-cancel", @title = "Cancelar" })
                </div>
            </div>
        </div>
    </div>
}
<hr id="header-divisor" />
<div class="row">
    <div class="col-md-2 lbltitulo">
        @Html.LabelFor(model => model.Cuestionario.DisciplinaID)
    </div>
    <div class="col-md-3 lbltitulo">
        @Html.LabelFor(model => model.CuestionarioID)
    </div>
</div>
<div class="row">
    <div class="col-md-2 txt-area-display-with-border area-border-2">
        @Html.Label(Model.Cuestionario.Disciplina.Nombre)
    </div>
    <div class="col-md-3 txt-area-display-with-border area-border-3">
        @Html.Label(Model.Cuestionario.Nombre)
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        &nbsp;
    </div>
</div>
<div class="row">
    <div class="col-md-2 lbltitulo">
        @Html.LabelFor(model => model.Texto)
    </div>
    <div class="col-md-2 lbltitulo">
        @Html.LabelFor(model => model.Clase)
    </div>
    <div class="col-md-8 lbltitulo">
        @Html.LabelFor(model => model.Descripcion)
    </div>
</div>
<div class="row">
    <div class="col-md-2 txt-area-display-with-border area-border-2">
        @Html.DisplayFor(model => model.Texto)
    </div>
    <div class="col-md-2 txt-area-display-with-border area-border-2">
        @Html.DisplayFor(model => model.Clase)
    </div>
    <div class="col-md-8 txt-area-display-with-border area-border-8">
        @Html.DisplayFor(model => model.Descripcion)
    </div>
</div>
